body{
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1{
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.tabuleiro{
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.casa{
    width: 60px;
    height: 60px;
}

.clara{
    background-color: #eee;
}

.escura{
    background-color: #2f6627; 
}